<%- include('./partials/header'); -%>
<h1>INDEX PAGE</h1>

<% blogs.forEach(function(blog){ %>
  <div class="">
    <h2><%= blog.title %></h2>
    <img src="<%= blog.image %>">
    <span><%= blog.created %></span>
    <p><%= blog.body.substring(0,100) %>...</p>
    <a class="ui violet inverted button" href="/blogs/<%= blog._id %>">Read more!</a>
  </div>
<% }) %>

<%- include('./partials/footer'); -%>
